<div
  class="w-full my4 first-mt0 last-mb0 text-zinc-700 dark:text-zinc-300 bg-zinc1/30 dark-bg-zinc9/20 b b-zinc2/50 dark-b-zinc8/60 rd-xl p-4 divide-y divide-zinc2/90 dark-divide-zinc8/60 children-py4 first-children-pt0 last-children-pb0"
>
  <slot />
</div>