[data-fx-modal][data-state="open"] [data-modal-content] {
    animation-fill-mode: both;
    animation: var(--un-modal-animation);
    -webkit-animation: var(--un-modal-animation);
}

[data-fx-modal] [data-modal-content][data-state="close"] {
    animation: var(--un-modal-animation);
    -webkit-animation: var(--un-modal-animation);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-60px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-60px);
    }
}