<div class="flex flex-col gap3 px4">
  <button
    data-collapse-trigger
    data-target="collapseMulti1 collapseMulti2"
    class="bg-zinc-800 text-white px-4 py-2 rounded-lg text-sm wmax"
  >
    Trigger Two Collapse
  </button>
  <div class="grid sm-grid-cols-2 gap-4 text-sm">
    <div
      data-collapsible-example
      id="collapseMulti1"
      class="overflow-hidden transition-[height] duration-300 ease-linear overflow-hidden w-full h-0 fx-open:h-auto"
    >
      <div
        class="rounded-md w-full bg-zinc1/50 dark-bg-zinc9/50 border border-zinc-200/30 dark:border-zinc-800/20 p-4 text-zinc-700 dark:text-zinc-300"
      >
        <p class="inline-flex">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam,
          dolorum, incidunt facilis quasi non ea mollitia odio, iure adipisci
        </p>
      </div>
    </div>
    <div
      data-collapsible-example
      id="collapseMulti2"
      class="overflow-hidden transition-[height] duration-300 ease-linear overflow-hidden"
    >
      <div
        class="rounded-md w-full bg-zinc1/50 dark-bg-zinc9/50 border border-zinc-200/30 dark:border-zinc-800/20 p-4 text-zinc-700 dark:text-zinc-300 h-0 fx-open:h-auto"
      >
        <p class="">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam,
          dolorum, incidunt facilis quasi non ea mollitia odio, iure adipisci
        </p>
      </div>
    </div>
  </div>
</div>
