<button data-offcanvas-trigger data-target="slide-over-from-left"
    aria-controls="slide-over-from-left" class="bg-neutral-800 text-white px-4 py-2 rounded-lg text-sm">
    Open from left
</button>
<div data-fx-offcanvas data-slideover-demo 
    id="slide-over-from-left" aria-labelledby="slide-over-from-left"
    class="fixed h-dvh w-full max-w-sm -left-full top-0 fx-open:left-0 ease-linear duration-200 p-4 bg-zinc-100 dark:bg-zinc-900 flex z-90">
    <div class="size-full border border-dashed border-zinc-200 dark:border-zinc-800">
        <button data-offcanvas-close class="p-4">
            Close it
        </button>
    </div>
</div>