<div class="p10">
    <button data-popover-trigger data-popover-id="demo-popover" class="bg-neutral-800 text-white px-4 py-2 rounded-lg text-sm">
        Show PopOver
    </button>
    <div data-fx-popover id="demo-popover" class="ui-popper invisible opacity-0 fx-open:visible fx-open:opacity-100 w-64 z-20 p-6 bg-zinc-100 dark:bg-zinc-900/50 backdrop-blur-xl z30 rounded-md h-48">
        this is content
    </div>
</div>