<div data-fx-tabs data-tab-fx-site class="w-full p-4 md-p10">
    <div data-tab-list-wrapper class="flex wfull">
        <ul data-tab-list role="tablist"
            class="flex items-center relative h-12 px-1 bg-zinc-100 dark:bg-zinc-900/50 w-full rounded-md *:cursor-pointer">
            <li role="presentation" class="flex">
                <a href="#link" data-tabs-trigger data-target="tab1" tabindex="0"
                    class="px-4 py-2 rounded text-zinc-700 dark:text-zinc-300 disabled:cursor-not-allowed disabled:opacity-80 fx-active:bg-zinc-200 dark:fx-active:bg-zinc-800 outline outline-1 outline-transparent focus:outline-blue-500 dark:focus:outline-blue-400">
                    Tabs1
                </a>
            </li>
            <li>
                <a href="#link" data-tabs-trigger data-target="tab2" tabindex="-1"
                    class="px-4 py-2 rounded text-zinc-700 dark:text-zinc-300 disabled:cursor-not-allowed disabled:opacity-80 fx-active:bg-zinc-200 dark:fx-active:bg-zinc-800 outline outline-1 outline-transparent focus:outline-blue-500 dark:focus:outline-blue-400">
                    Tabs2
                </a>
            </li>
            <li>
                <a href="#link" data-tabs-trigger data-target="tab3" tabindex="-1"
                    class="px-4 py-2 rounded text-zinc-700 dark:text-zinc-300 disabled:cursor-not-allowed disabled:opacity-80 fx-active:bg-zinc-200 dark:fx-active:bg-zinc-800 outline outline-1 outline-transparent focus:outline-blue-500 dark:focus:outline-blue-400">
                    Tabs3
                </a>
            </li>
        </ul>
    </div>
    <div data-panels-container class="bg-zinc-100 dark:bg-zinc-900/50 text-zinc-700 dark:text-zinc-300 rounded-md">
        <section role="tabpanel" tabindex="0"
            class="hidden fx-active:flex ring-offset-zinc-950 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 border border-zinc-200 dark:border-zinc-800 rounded-md mt-2"
            data-tab-panel data-state="active" id="tab1" aria-labelledby="tab1">
            Tab 1 Content
        </section>
        <section role="tabpanel" tabindex="0"
            class="hidden fx-active:flex ring-offset-zinc-950 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 border border-zinc-200 dark:border-zinc-800 rounded-md mt-2"
            data-tab-panel id="tab2" aria-labelledby="tab2">
            Tab 2 Content
        </section>
        <section role="tabpanel" tabindex="0"
            class="hidden fx-active:flex ring-offset-zinc-950 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2 border border-zinc-200 dark:border-zinc-800 rounded-md mt-2"
            data-tab-panel id="tab3" aria-labelledby="tab3">
            Tab 3 Content
        </section>
    </div>
</div>