<div class="flex items-center gap-4 relative">
    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test"
    class="relative bg-zinc-800 text-white border border-zinc-800 p-2 rounded-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-down"></span>
    </button>
    <div data-tooltip-demo data-placement="bottom" id="tooltip-test"
    class="ui-popper invisible opacity-0 fx-open:visible fx-open:opacity-100 w-48 px-4 py-1.5 text-center text-zinc-600 truncate bg-white rounded-lg shadow-lg dark:shadow-none shadow-zinc-200 dark:bg-zinc-800 dark:text-white">
        <p>
            This is a tooltip
        </p>
    </div>

    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test2"
        class="relative bg-zinc-800 text-white border border-zinc-800 p-2 rounded-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-up"></span>
    </button>
    <div data-tooltip-demo data-placement="top" id="tooltip-test2"
        class="ui-popper invisible opacity-0 fx-open:visible fx-open:opacity-100 w-48 px-4 py-1.5 text-center text-zinc-600 truncate bg-white rounded-lg shadow-lg dark:shadow-none shadow-zinc-200 dark:bg-zinc-800 dark:text-white">
        <p>
            This is a tooltip
        </p>
    </div>

    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test3"
        class="relative bg-zinc-800 text-white border border-zinc-800 p-2 rounded-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-left"></span>
    </button>
    <div data-tooltip-demo data-placement="left" id="tooltip-test3"
        class="ui-popper invisible opacity-0 fx-open:visible fx-open:opacity-100 w-48 px-4 py-1.5 text-center text-zinc-600 truncate bg-white rounded-lg shadow-lg dark:shadow-none shadow-zinc-200 dark:bg-zinc-800 dark:text-white">
        <p>
        This is a tooltip
        </p>
    </div>

    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test4"
        class="relative bg-zinc-800 text-white border border-zinc-800 p-2 rounded-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-right"></span>
    </button>
    <div data-tooltip-demo data-placement="right" id="tooltip-test4"
        class="ui-popper invisible opacity-0 fx-open:visible fx-open:opacity-100 w-48 px-4 py-1.5 text-center text-zinc-600 truncate bg-white rounded-lg shadow-lg dark:shadow-none shadow-zinc-200 dark:bg-zinc-800 dark:text-white">
        <p>
        This is a tooltip
        </p>
    </div>
</div>