---
import CustomCode from "@components/vuejs/CustomCode.vue";
import { codeData } from "@data/generated-code";
import { CopyInBlockBtn } from "@components/preact/CopyInBlockBtn";

type Props = {
  source: string;
  noRoundedTop?: boolean;
};  


const { source, noRoundedTop } = Astro.props;
const snippet = codeData[source];
---

{snippet && (
  <div
    data-custom-block-code
    class="relative my4 first-mt0 last-mb0 w-full flex-1 overflow-hidden"
  >
    <div data-snippet-bloc data-state="active" class="flex-1">
      <div class="grid">
        <div
          class:list={[
            "flex w-full overflow-hidden rd-xl b b-zinc2/90 dark-b-zinc8/60 bg-zinc1/60 dark-bg-zinc9/60 max-h96",
            noRoundedTop && "rd-t-none",
          ]}
        >
          <div
            data-code-component
            class="group overflow-hidden max-h96 w-full grid relative"
          >
            <CopyInBlockBtn client:only="preact" />
            <div
              data-hidden-scrollbar-s
              data-overlayscrollbars-initialize
              class="w-full flex hfull overflow-auto"
            >
              <CustomCode lang={snippet.lang} code={snippet.code} client:load />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
)}
