---
import SidebarGroup from "./blocks/SidebarGroup.astro";
import {sidebarItems} from "./DataItems.astro";
interface Props {
  activeItem: string;
}


const { activeItem } = Astro.props;
---
<span data-sidebar-overlay class="ui-overlay bg-zinc-800/20 backdrop-blur-md z60 lg-hidden invisible fx-visible:visible"></span>
<aside
  data-app-sidebar
  id="doc_sidebar"
  class="flex invisible md-visible -translate-x-full transition md-transition-none fx-open:visible fx-open:translate-x-0 
  md-translate-x-0 h100dvh md-h-[calc(100vh-4.375rem)] fixed md-sticky top-0 md-top-17.5 
  w11/12 max-w-64 sm-w60 md-max-wnone md-w-full md-pl10 lg-pl0 z60 bg-white/60 dark:bg-zinc-950/60 backdrop-blur-xl md-backdrop-filter-none md-bg-transparent md-dark-bg-transparent md-b-r md-b-r-zinc2/80 dark-md-b-r-zinc8/40"
>
  <div
    data-hidden-scrollbar-s
    data-overlayscrollbars-initialize
    data-sidebar-content
    class="overflow-hidden overflow-y-auto hfull w-full py6 md-py1"
  >
    <nav class="flex flex-col space-y-8 w-full md-py4 px5 sm-px8 md-px0">
      {
        sidebarItems.map((sidebarItem) => (
          <SidebarGroup activeItem={activeItem} {...sidebarItem} />
        ))
      }
    </nav>
  </div>
</aside>

